<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="todos">
        <form (submit)="addTodo()">
            <input type="text" 
            name = "inputToDo" 
            placeholder="Enter todo.." 
            [(ngModel)]="inputTodo"
            class="todo-input"/>
            <input type="submit" value="Add Todo" class="todo-submit"/>
            <input type="submit" value="Clear All" class="todo-submit" (click)="clearAll()"/>
        </form>
        
        <div *ngFor="let todo of todos; let i = index" class="todo {{ (todo.completed ? 'done':'') }}">
            <div class="id" (click)="(editTodo(i))">{{i+1}}</div>
            
            <div class="content" (click)="toggleDone(i)">{{todo.content}}</div>
            <button class="delete" (click)="deleteTodo(i)">Remove</button>
            <!-- <ng-template [ngIf]="editTodo(i)" hidden={{conditonal}}>
                <input type="text" 
            name = "inputUpdate"
            value={{todo.content}} 
            placeholder={{todo.content}} 
            [(ngModel)]="inputTodo"
            class="todo-input"/>
            </ng-template> -->
        </div>
    </div>




</body>
</html>
